.portfolio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-basis: auto;

  .title {
    text-align: center;
    margin: 40px 0;
    font-size: 24px;
    color: #e63946;
  }

  .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 1rem;
    padding-top: 0;
  }
}
